.container {
  position: absolute;
  top: 10%;
  left: 10px;
  //background-image: url('../../../public/images/keyboard.jpg'); //To set a bg image url

  h2 {
    font-size: 5rem;
  }

  a {
    font-size: 17px;
    text-decoration: underline;
  }
}
