.backButton {
  position: absolute;
}

.demoFetch {
  font-size: 10px;
}

.counter {
  font-size: 5rem;
  font-weight: bold;
}

.center {
  max-width: 322px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 180px;
}
